.main_done {
  margin: 0 auto;
  height: 100vh;

  & > img {
    margin-top: 10.2rem;
    height: 50px;
    margin-bottom: 7.5rem;
    margin-left: 20px;
  }
  & > section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;
      align-items: center;
      align-content: center;

      & > h2 {
        // width: 111px;
        height: 39px;
        margin-left: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 39px;
        color: #834825;
        margin-bottom: 4rem;
      }
      & > a {
        // width: 48px;
        height: 15px;
        margin-top: -32px;
        margin-right: 55px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        text-decoration-line: underline;

        color: #834825;
      }
    }
  }
}

.section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
