.sectionComponent {
  padding-top: 10.4rem;
}
.containerComponent {
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.7rem 0 2.9rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 7.8rem 0 4rem 0;
}
